:root {
  --bg: #0D1117;
  --text: #c9d1d9;
  --accent: #8b949e;
  --bgAlt: #151a20;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Helvetica', sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Product Sans', sans-serif;
}

nav {
  background-color: var(--bgAlt);
  color: var(--text);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 30px;
}